---
layout: base
---

<div id="talk-page">
  <div id="top">
    <h1>{{talk.title}}</h1>
    <p>Presented by {{speaker.name}} at {{event}}</p>
  </div>

  <div class='video-container'>
    <video id='video' controls playsinline preload="metadata"></video>
    <p style="text-align: right">Video hosting kindly provided by <a href="https://mux.com/" style="color: var(--blue)">Mux - video for developers</a>.</p>
  </div>
  

  <main>
    <article>
      <h2>Transcript</h2>
      <small>These transcripts were captured live by a captioner. As such, there may be small errors. If you spot any, please feel free to <a href="https://github.com/yougotthisconf/yougotthis.io/tree/main/{{page.inputPath}}">submit a pull request</a> with amendments.</small>
      {{content}}
    </article>
    <aside>
      <section>
        <h2>About the talk</h2>
        <p class='abstract'>{{talk.abstract}}</p>
        {% include tag_list, tags: tags, links: true %}
      </section>
      <section>
        <h2>About the speaker</h2>
        <p>{{speaker.bio}}</p>
        {% if speaker.twitter %}
          <p><a href="https://twitter.com/{{speaker.twitter}}">Follow @{{speaker.twitter}} on Twitter</a></p>
        {% endif %}
      </section>
      {% if notes %}
        <section>
          <h2>Notes & resources</h2>
          {{notes}}
        </section>
      {% endif %}
    </aside>
  </main>
</div>

<link rel="stylesheet" href="/assets/plyr.css" />
<script src="/assets/hls.js"></script>
<script src="/assets/plyr.js"></script>
<script>
document.addEventListener('DOMContentLoaded', () => {
  const source = 'https://stream.mux.com/{{video}}.m3u8'
  const video = document.querySelector('#video')
  
  // video['data-poster'] = video.poster = ''
  const player = new Plyr(video)

  if(!Hls.isSupported()) {
    video.src = source
  } else {
    let hls = new Hls();
    hls.loadSource(source);
    hls.attachMedia(video);
    window.hls = hls;
  }

  window.player = player
})
</script>