---
layout: base
---

<div id="talk-page">
  <div id="top">
    <h1>{{talk.title}}</h1>
    <p>Presented by {{speaker.name}} at {{event}}</p>
  </div>

  <iframe src="https://www.youtube.com/embed/{{talk.youtube}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <main>
    <article>
      <h2>Transcript</h2>
      <small>These transcripts were captured live by a captioner. As such, there may be small errors. If you spot any, please feel free to <a href="https://github.com/yougotthisconf/yougotthis.io/tree/main/{{page.inputPath}}">submit a pull request</a> with amendments.</small>
      {{content}}
    </article>
    <aside>
      <section>
        <h2>About the talk</h2>
        <p class='abstract'>{{talk.abstract}}</p>
        {% include tag_list, tags: tags, links: true %}
      </section>
      <section>
        <h2>About the speaker</h2>
        <p>{{speaker.bio}}</p>
        {% if speaker.twitter %}
          <p><a href="https://twitter.com/{{speaker.twitter}}">Follow @{{speaker.twitter}} on Twitter</a></p>
        {% endif %}
      </section>
      {% if notes %}
        <section>
          <h2>Notes & resources</h2>
          {{notes}}
        </section>
      {% endif %}
    </aside>
  </main>
</div>