---
layout: base
---

<div id="talk">
  <div id="top">
    <h1>{{talk.title}}</h1>
    <p>Presented by {{speaker.name}} at {{event}}</p>
  </div>

  <video id='video' controls preload="metadata"></video>

  <main>
    <article>
      <h2>Transcript</h2>
      <small>These transcripts were captured live by a captioner. As such, there may be small errors. If you spot any, please feel free to <a href="https://github.com/yougotthisconf/yougotthis.io/tree/master/{{page.inputPath}}">submit a pull request</a> with amendments.</small>
      {{content}}
    </article>
    <aside>
      <section>
        <h2>About the talk</h2>
        <p class='abstract'>{{talk.abstract}}</p>
        {% include tag_list, tags: tags, links: true %}
      </section>
      <section>
        <h2>About the speaker</h2>
        <p>{{speaker.bio}}</p>
        {% if speaker.twitter %}
          <p><a href="https://twitter.com/{{speaker.twitter}}">Follow @{{speaker.twitter}} on Twitter</a></p>
        {% endif %}
      </section>
      {% if notes %}
        <section>
          <h2>Notes & resources</h2>
          {{notes}}
        </section>
      {% endif %}
    </aside>
  </main>
</div>

<style>
  #top {
    text-align: center;
    margin-top: 2em;
  }
  #top h1 {
    color: var(--pink);
    font-size: 3em;
  }
  #top p {
    font-size: 1.25em;
    margin-top: 1rem;
  }

  #talk video {
    margin-top: 2.5rem;
    width: 100%;
    height: 590px;
  }

  #talk main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2em;
    margin-top: 2em;
  }

  #talk main small {
    display: block;
    margin-top: 1em;
    font-size: 1rem;
    opacity: 0.8;
  }

  #talk main a {
    color: inherit;
  }

  #talk main p {
    margin-top: 1em;
  }

  #talk aside section {
    background: white;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
  }

  #talk aside a {
    color: var(--blue);
  }

  #talk .abstract {
    margin-bottom: 1em;
  }

  video .vjs-big-play-button {
    top: 50% !important; 
    margin-top: calc(-1.63332em/2) !important;
    left: 50% !important;
    margin-left: calc(-3em/2) !important;
    background: var(--blue) !important;
  }
  video:hover .vjs-big-play-button, 
  video .vjs-big-play-button:focus {
    background: var(--blue__dark) !important;
  }

  @media screen and (max-width: 1000px) {
    #talk video {
      height: 54vw;
    }
  }

  @media screen and (max-width: 800px) {
    #top h1 {
      font-size: 2em;
    }
    #talk video {
      margin-top: 3em;
    }
    #talk main {
      grid-template-columns: 1fr;
      grid-template-areas: 'meta' 'transcripts';
    }
    #talk main article {
      grid-area: transcripts;
    }
    #talk aside {
      grid-area: meta;
    }
    #talk aside section {
      margin-bottom: 0;
      margin-top: 1em;
    }
  }
</style>

<script src="/assets/hls.js"></script>
<script>
const video = document.getElementById('video')
const url = 'https://stream.mux.com/{{video}}.m3u8'
if (video.canPlayType('application/vnd.apple.mpegurl')) {
  video.src = url;
} else if (Hls.isSupported()) {
  hls = new Hls();
  hls.loadSource(url);
  hls.attachMedia(video);
}
video.poster = 'https://image.mux.com/{{video}}/thumbnail.png'
</script>