---
layout: base
permalink: photos/
events:
  - name: You Got This Birmingham 2020
    photographer: Harshpal Bhirth
    date: January 18 2020
    directory: /assets/img/events/2020-birmingham
    photos: 68
  - name: You Got This London 2019
    photographer: Paul Clarke
    date: January 19 2019
    directory: /assets/img/events/2019-london
    photos: 143
---

<div id="photo-page">
  <h1>Photos from You Got This Events</h1>
  {% for event in events %}
    <div class="event">
      <h2>{{event.name}}</h2>
      <p>Photos were taken by {{event.photographer}} on {{event.date}}. You may use them, but please provide a credit to the photographer and our event (CC-BY-SA License).</p>
      <div class="photos">
        {% for photo in (1..event.photos) %}
          <a href="{{event.directory}}/{{photo}}.jpg">
            <img src="{{event.directory}}/{{photo}}_small.jpg">
          </a>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>