---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
<channel>
  <title>{{metadata.title}}</title>
  <link href="{{ site.url }}"/>
  <description>{{site.description}}</description>
  {% for item in collections.rss %}
<item>
  <title>{{item.data.talk.title}}</title>
  <link>{{site.baseURL}}{{item.data.page.url}}</link>
  <guid>{{site.baseURL}}{{item.data.page.url}}</guid>
  <description>{{item.data.talk.abstract}}</description>
  <pubDate>{{ item.data.pubDate }}</pubDate>
</item>
  {% endfor %}
</channel>
</rss>
